/*
BODY-COLOR // BG-COLOR2 // BG-COLOR3 - SÃO NOSSAS 3 CORES DO SITE
*/
.body-color{
    background-color: #F7F7FF;
}

.bg-color2{
    background-color: #6279B8;
}

.bg-color3{
    background-color: #FFB400;
}

/* CLASSES DO HEADER */ 
/*
CLASS LOGIN - DEFINE A COR DO TEXTO COMO BRANCO E TIRA LINHAS EMBAIXO DO TEXTO
*/
.login{
    text-decoration: none;
    color: #F7F7FF;
}

/*
ESSA LINHA DEFINE A COR DO HOVER DO NAVBAR
*/
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(55, 55, 255) !important;
}


/*
DEFINE TEXTO EM BRANCO COM CONTORNO PRETO
*/
.contorno{
     color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

/* PÁGINA CONTATO */
.cor-botao-contato {
    background: #06D6A0 !important;
    color: #FFF !important;
  }
  .btn:hover {
     color: #FFF !important;
     background-color: #06D6A0 !important;
     border-color: #FFF !important; 
}

.formBackg{
    background-color: #022B3A !important;
}
.form-titulo{
    color:#FFF;
    padding:20px 0 10px 0px 
}
.form-lab{
    font: 16px;
    color:white
}
.pad-top15{
    padding-top: 15px !important;
}